<div class="login-form">
  <h1 class = "login-title" style="margin-left: -20%; font-size: 15pt">RESEND CONFIRMATION INSTRUCTION</h1>
  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%# f.label :email %>
        <%= f.email_field :email, :placeholder => 'Enter your email', :autofocus => true, :class => "form-control login-field", :id => "reg-email" %>
        <label class="login-field-icon user-icon" for="reg-email"></label>
      </div>

      <div><%= f.submit "Send", :class => "btn btn-primary btn-lg btn-block" %></div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
