
<!--category need to be specified-->
<% posts = @posts %>
<% posts.each do |post| %>
    <% if post.media_type == "text" %>
        <div id="post-box" class="post format-status
        category-status tag-updates yellow">
    <% elsif post.media_type == "image" %>
        <div id="post-box" class="post format-image
        category-image">
    <% elsif post.media_type == "audio" %>
        <div id="post-box" class="post format-audio
        category-audio tag-music lavender">
    <% else %>
        <div id="post-box" class="post format-video
        category-video tag-video-2 black">
    <% end %>

    <!--posts icon-->
    <!--posts like-->

    <%= render 'shared/like_button', :post => post %>

    <!--/posts like-->

      <!--some style parameters have to be inserted-->
            <div class="post-inner clearfix">
                <span class="post-icon"></span>
    <!--/posts icon-->



    <!--posts image-->
              <%# images = get_post_media("image", posts.id) %>
              <% images = post.images %>
              <% images.each do |image| %>
                  <% unless image.nil? %>
                      <% if image.link.include? "http" %>
                        <% image_src = image.link %>
                      <% else %>
                        <% image_src = image_path(image.link) %>
                      <% end %>
                      <p class="post-image">
                        <!--<a href="http://themify.me/demo/themes/wumblr/files/2012/09/86529817.jpg" class="lightview">-->
                          <%= link_to image_tag(image_src, alt: "Lightbox Photo", width: "244"), view_posts_path(:post_id => post.id), class: "lightview" %>
                          <!--<img src="<%= image_src %>" alt="Lightbox Photo" width="244">-->
                        <!--<div id="viewer">hello</div>-->
                      </p>
                  <% end %>
              <% end %>
    <!--/posts image-->

    <!--posts audio-->
              <%# audios = get_post_media("audio", posts.id) %>
              <% audios = post.audios %>
              <% audios.each do |audio| %>
                  <% unless audio.nil? %>
                      <!--<p class="audio-image">-->
                        <!--<a href="http://themify.me/demo/themes/wumblr/audio/just-a-mp3-song">-->

                          <!--<img src="http://themify.me/demo/themes/wumblr/wp-content/themes/wumblr/themify/img.php?src=http://themify.me/demo/themes/wumblr/files/2010/12/Katy-Perry-c07-722638.jpg&amp;w=100&amp;h=100&amp;zc=1"-->
                               <!--alt="Just a MP3 Song" width="100" height="100">-->
                        <!--</a>-->
                      <!--</p>-->

                      <div class="audio-player">
                        <div class="audio_wrap html5audio">
                          <audio controls id="58" class="html5audio">
                            <source src="<%= audio.link %>" type="audio/mpeg">
                          </audio>
                        </div>
                      </div>
                  <% end %>
              <% end %>
    <!--/posts audio-->

    <!--posts video-->
              <% videos = post.videos %>
              <% videos.each do |video| %>
                  <% unless video.nil? %>
                      <div class="post-video">
                        <!--<iframe src="<%# video.link %>" width="500" height="281"-->
                                <!--frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">-->

                        <!--</iframe>-->

                        <iframe width="560" height="315" src="<%= video.link %>" frameborder="0" allowfullscreen></iframe>

                        <!--<# video_tag(video.link, width: "500", height: "281") %>-->
                      </div>
                  <% end %>
              <% end %>
    <!--/posts video-->

    <!--posts content-->
                <div class="post-content">
                  <h1 class="post-title">
                    <!--<a href="#posts-viewer" class="lightview">-->
                      <!---->
                      <!--<%# posts.title %>-->
                    <!--</a>-->
                    <%= link_to post.title, view_posts_path(:post_id => post.id), class: "lightview" %>
                  </h1>
                  <p>
                  <% texts = post.texts %>
                  <% texts.each do |text| %>
                      <% unless text.nil? %>
                        <%= text.content %>
                      <% end %>
                  <% end %>
                  </p>
                </div>
    <!--/posts content-->

                <!--<div class="post-comment">-->
                  <!--<%# link_to post.likes.size, view_posts_path(:post_id => post.id), class: "lightview comment-link" %>-->
                <!--</div>-->



    <!--posts meta-->
              <div class="post-meta">

                <% tags = post.tags %>
                <% tags.each do |tag| %>
                    <span class="post-tag">
                        <%= link_to tag.name, static_pages_search_path(:search_type => 'tag', :keyword => tag.name) %>
                    </span>
                <% end %>



                <span class="post-date">
                    <%= link_to time_ago_in_words(post.created_at) + " ago", static_pages_search_path(:search_type => 'time', :keyword => post.created_at) %>
                  <!-- This method just consider the absolute difference
                  no matter if it's negative. -->
                </span>
                •
                <span class="post-author">
                    <%# user = get_post_author(posts.user_id) %>
                    <%= link_to post.user.email, static_pages_search_path(:search_type => 'author', :keyword => post.user.email) %>
                </span>
              </div>
    <!--/posts meta-->

            </div>
        </div>
<% end %>