<!DOCTYPE html>

<html>
    <head>
      <title>JoyCorn</title>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
      <%= render 'layouts/shim' %>
    </head>
    <body>
        <div id="pagewrap">

          <div id="header">
              <%= render 'layouts/header' %>
          </div>

          <div id="main-panel">
              <div id="sidebar-wrap">
                <div class="sidebar-classification">
                  <%= render 'layouts/sidebar_classification' %>
                </div>
                <div class="sidebar-rank">
                  <%= render 'layouts/sidebar_rank' %>
                </div>
              </div>

              <div id="container" class="home page page-id-367 page-template-default skin-default gecko not-ie query-page query-post sidebar-none">
                <%= yield %>

                <!--<div id="post-panel" class="js-masonry" data-masonry-options='{ "itemSelector": "#post-box"}'>-->
                <div id="post-panel">
                  <%= render 'shared/post' %>

                  <div class="page-nav">
                    <%# link_to('next page', static_pages_next_url, class: "next_post_panel") %>
                    <a href="/page/2">next page</a>
                  </div>

                  <div id="footer">
                    <%= render 'layouts/footer' %>
                  </div>
                </div>





                <%# debug(params) if Rails.env.development? %>
              </div>
          </div>

        </div>

        <%= render 'shared/post_viewer' %>

    </body>
</html>
