<!DOCTYPE html>
<html>
    <head>
      <title>JoyCorn</title>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
      <%= render 'layouts/shim' %>
    </head>
    <body class="home page page-id-367 page-template-default skin-default gecko not-ie query-page query-post sidebar-none grid3" style>
        <div id="pagewrap">
          <div id="header">
              <%= render 'layouts/header' %>
          </div>


            <%= render 'layouts/sidebar' %>


          <div class="container">
            <%= yield %>

            <%= render 'layouts/footer' %>

            <%= debug(params) if Rails.env.development? %>
          </div>
        </div>

    </body>
</html>
