<!DOCTYPE html>

<html>
    <head>
      <title>JoyCorn</title>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
      <%= render 'layouts/shim' %>
      <%= include_gon %>
    </head>
    <body>
        <div id="pagewrap">

          <div id="header">
              <%= render 'layouts/header' %>
          </div>

          <div id="notification">
            <p id="notification-notice" class="notice" data-notice-text="<%= notice %>"><%= notice %></p>
            <p id="notification-alert" class="alert" data-notice-text="<%= alert %>"><%= alert %></p>
          </div>


          <div id="main-panel">
            <!--<div id="floatbox">-->
            <div id="sidebar-wrap" class="sticky">
              <div class="sidebar-classification">
                <%= render 'layouts/sidebar_classification' %>
              </div>
              <div class="sidebar-rank">
                <%= render 'layouts/sidebar_rank' %>
              </div>
            </div>
            <!--</div>-->

              <div id="container" class="home page page-id-367 page-template-default skin-default gecko not-ie query-page query-post sidebar-none">
                <%= yield %>

                <%# debug(params) if Rails.env.development? %>
                <div id="footer">
                  <%= render 'layouts/footer' %>
                </div>
              </div>


          </div>





        </div>

        <%# render 'posts/view' %>

    </body>
</html>
