<!DOCTYPE html>

<html>
<head>
  <title>JoyCorn</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "jQuery-File-Upload/image_upload" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= include_gon %>
</head>
<body>
<h1>Welcome!</h1>

<%= yield %>

<%= link_to 'Go back HOME', root_path %>

</body>